<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Образование | Viktoria Roslav</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../../style.css">
</head>
<body>

<img src="../../background.jpg" alt="" class="bg-image-preloader">

<div class="portfolio-wrapper">
    <header class="hero-section inner-hero">
        <div class="top-logo">МОЕ ПОРТФОЛИО</div>
        <div class="hero-content">
            <h1>🎓 ОБРАЗОВАНИЕ</h1>
            <p class="slogan">Фундаментальные знания и университетская база</p>
            
            <a href="../../index.html" class="primary-btn back-btn">НАЗАД НА ГЛАВНУЮ</a>
        </div>
    </header>

    <section class="bottom-section">
        <div class="content-box">
            <h2>Национальный технический университет «Харьковский политехнический институт»</h2>
            <p>В настоящее время я являюсь студенткой 3-го курса НТУ "ХПИ".</p>
            <ul>
                <li><strong>Группа:</strong> КН-732</li>
                <li><strong>Специализация:</strong> Компьютерные науки и инженерия программного обеспечения.</li>
                <li><strong>Фокус:</strong> Углубленное изучение Advanced Python, проектирование архитектуры ПО и работа с базами данных.</li>
            </ul>
        </div>
    </section>
</div>

</body>
</html>
